/* ACCUEIL PRESENTATION */
.imgaccueil {
  object-fit: cover;
  height: 100dvh;
  width: 100%;
  margin: 0;
  position: relative;
}

@supports not (height: 100dvh) {
  .imgaccueil {
    height: 100vh;
  }
}

.title h1 {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--black);
  border-radius: 5px;
  padding: 60px 90px;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  white-space: nowrap;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.rounded-circle {
  margin: 0 auto;
  width: 45vw;
  height: 45vw;
  background-color: var(--olive-green);
  color: var(--black);
  border: 3px solid var(--light-gray);
  border-radius: 50%;
  padding: 70px;
  display: flex;
  align-items: center;
  line-height: 1.4;
  overflow: auto;
  word-wrap: break-word;
  text-align: center;
  margin-bottom: 75px;
  margin-top: 75px;
}

.rounded-circle p {
  color: var(--white);
  margin: 0 auto;
  line-height: 1.6;
  max-width: 85%;
  padding: 15px 10px;
  word-break: break-word;
  transition: transform 0.3s ease;
}

.rounded-circle p:hover {
  transform: scale(1.05);
  z-index: 1;
}

.title h2,
.title h3 {
  color: var(--white);
  padding: 25px 550px;
  background-color: var(--olive-green);
  margin-top: 20px;
  margin-bottom: 100px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  display: inline-block;
}

/* CARDS SERVICES */
#cards-services .card {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--white);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

#cards-services .card:hover {
  transform: scale(1.03);
}

.card-img-top {
  height: 250px;
  object-fit: cover;
  width: 100%;
  display: block;
}

.card-title-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(121, 85, 72, 0.8);
  text-align: center;
  padding: 12px 10px;
  z-index: 2;
}

.card-title-overlay p {
  color: var(--white);
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  line-height: 1.5;
}

.btn-infos {
  position: absolute;
  bottom: 15px;
  right: 15px;
  background-color: var(--earth-brown);
  color: var(--white);
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  z-index: 2;
}

.btn-infos:hover {
  background-color: var(--forest-green);
}

/* REVIEWS */
#carouselAvis {
  max-width: 500px;
  margin: 40px auto;
  position: relative;
}

.carousel-inner .custom-card {
  width: 100%;
  max-width: 450px;
  background-color: var(--olive-green);
  color: var(--earth-brown);
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  min-width: 300px;
  height: auto;
}

.carousel-inner .custom-card .pseudo {
  font-weight: bold;
  text-transform: uppercase;
}

.carousel-inner .custom-card .card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carousel-inner .custom-card .rating-display {
  margin: 0;
}

.carousel-inner .custom-card .card-text {
  margin-top: 20px;
  text-align: center;
  flex-grow: 1;
  color: var(--white);
}

.carousel-inner .custom-card .card-date {
  color: var(--white);
}

.text-center .btn-primary {
  background-color: var(--earth-brown);
  color: var(--white);
  border: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
  padding: 20px 60px;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: var(--earth-brown);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
  border: 2px solid var(--olive-green);
  z-index: 2;
}

.carousel-control-prev {
  left: -70px;
}

.carousel-control-next {
  right: -70px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
  width: 20px;
  height: 20px;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: var(--forest-green);
  transform: scale(1.1);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

/* STARS */
.carousel-inner .rating-display .star {
  font-size: 1.5rem;
  color: var(--black);
  transition: color 0.3s ease;
}

.carousel-inner .rating-display .star.filled {
  color: var(--earth-beige);
}

/* MODAL STARS */
.modal .rating {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5px;
}

.modal .rating input[type="radio"] {
  display: none;
}

.modal .rating label {
  font-size: 2rem;
  color: var(--light-gray);
  cursor: pointer;
  transition: color 0.3s ease;
}

.modal .rating label.star-active {
  color: var(--olive-green);
}

.modal .rating label.star-inactive {
  color: var(--light-gray);
}

.modal-footer .btn-primary {
  background-color: var(--earth-brown);
  color: var(--white);
  border: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
  padding: 15px 30px;
  font-size: 1.2rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-footer .btn-primary:hover {
  background-color: var(--forest-green);
}

/* -------------------- RESPONSIVE -------------------- */

/* ACCUEIL PRESENTATION - RESPONSIVE */
@media (max-width: 1024px) {
  .title h1 {
    font-size: 38px;
    padding: 40px 60px;
  }
}
@media (max-width: 768px) {
  .title h1 {
    margin-top: 30px;
    padding: 20px 30px;
    white-space: normal;
    max-width: 90%;
    font-size: 32px;
  }
  .rounded-circle {
    width: 70vw;
    height: 70vw;
    margin: 0 auto;
    background-color: var(--olive-green);
    color: var(--white);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 0;
  }
  .rounded-circle p {
    font-size: 14px;
    max-width: 85%;
    max-height: 90%;
    height: 160px;
    overflow-y: auto;
    padding: 10px;
    line-height: 1.5;
    text-align: center;
  }

.rounded-circle p::-webkit-scrollbar {
  width: 6px;
}

.rounded-circle p::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
}

  .title h2,
  .title h3 {
    padding: 20px 40px;
  }
}
@media (max-width: 480px) {
  .rounded-circle {
    width: 70vw;
    height: 70vw;
    margin: 0 auto;
    background-color: var(--olive-green);
    color: var(--white);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 0;
  }
  .rounded-circle p {
    font-size: 14px;
    max-width: 85%;
    max-height: 90%;
    height: 160px;
    overflow-y: auto;
    padding: 10px;
    line-height: 1.5;
    text-align: center;
  }

  .rounded-circle p::-webkit-scrollbar {
  width: 6px;
}

.rounded-circle p::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
}
}

/* REVIEWS - RESPONSIVE */
@media (max-width: 768px) {
  #carouselAvis {
    max-width: 300px;
  }
  .carousel-inner .custom-card {
    min-width: 100%;
  }
  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }
  .text-center .btn-primary {
    padding: 15px 40px;
    font-size: 1rem;
  }
}
@media (max-width: 480px) {
  .carousel-inner .custom-card {
    padding: 15px;
    font-size: 14px;
  }
  .text-center .btn-primary {
    padding: 12px 20px;
    font-size: 0.9rem;
  }
}

/* RESPONSIVE CARDS SERVICES */
@media (max-width: 768px) {
  #cards-services .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #cards-services .row {
    width: 100%;
    max-width: 400px;
  }

  #cards-services .col-md-6 {
    width: 100%;
    margin: 0 auto;
  }

  #cards-services .card {
    width: 100%;
    margin: 0 auto;
  }

  .card-title-overlay {
    font-size: 14px;
    padding: 8px;
  }

  .btn-infos {
    padding: 8px 12px;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .card-title-overlay {
    font-size: 14px;
    padding: 8px;
  }

  .btn-infos {
    padding: 6px 10px;
    font-size: 0.85rem;
  }
}
