.imgaccueil {
  object-fit: cover;
  height: 100vh;
  width: 100%;
  margin: 0;
  position: relative;
}

.title h1 {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  border-radius: 5px;
  padding: 60px 90px;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  white-space: nowrap;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.rounded-circle {
  margin: 8% auto;
  width: 800px;
  height: 800px;
  background-color: var(--olive-green);
  color: var(--black);
  border: 3px solid var(--light-gray);
  border-radius: 50%;
  padding: 70px;
  text-align: center;
  line-height: 1.4;
  overflow: hidden;
  word-wrap: break-word;
}

.rounded-circle p {
  margin: 0;
  line-height: 1.6;
  transition: transform 0.3s ease;
}

.rounded-circle p:hover {
  transform: scale(1.05);
  z-index: 1;
}

.title h2 {
  color: var(--black);
  padding: 25px 550px;
  background-color: var(--olive-green);
  margin-top: 20px;
  margin-bottom: 100px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  display: inline-block;
}

.title h3 {
  color: var(--black);
  padding: 25px 550px;
  background-color: var(--olive-green);
  margin-top: 20px;
  margin-bottom: 100px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  display: inline-block;
}

/* CARDS SERVICES */
#cards-services {
  margin-top: 30px;
}

.card {
  position: relative;
  border: none;
  overflow: hidden;
  height: 480px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-title-overlay {
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px 20px;
  text-align: left;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  width: 50%;
}

.card-title-overlay p {
  margin: 0;
  color: var(--olive-green);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.5;
  word-wrap: break-word;
}

.btn-infos {
  position: absolute;
  bottom: 15px;
  right: 15px;
  background-color: var(--earth-brown);
  color: var(--olive-green);
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn-infos:hover {
  background-color: var(--forest-green);
}

/* REVIEWS */
#carouselAvis {
  max-width: 400px;
  margin: auto;
}

.carousel-inner .custom-card {
  width: 100%; 
  max-width: 350px; 
  height: 250px; 
  background-color: var(--olive-green);
  color: white;
  padding: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto; 
}

.carousel-inner .custom-card .card-title {
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .carousel-inner .custom-card .card-text {
    margin-top: 15px;
    text-align: center;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
  }

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: var(--earth-brown);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
  border: 2px solid var(--olive-green);
}

.carousel-control-prev {
  left: -70px;
}

.carousel-control-next {
  right: -70px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
  width: 20px;
  height: 20px;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: var(--forest-green);
  transform: scale(1.1);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.star {
  color: var(--light-gray);
  cursor: pointer;
}

.star[data-value]:hover,
.star[data-value]:hover ~ .star {
  color: var(--earth-beige);
}

.text-center .btn-primary {
  background-color: var(--earth-brown);
  color: var(--olive-green);
  border: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
  padding: 10px 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.text-center .btn-primary:hover {
  background-color: var(--forest-green);
}

.success-message {
  color: green;
  font-weight: bold;
}

.error-message {
  color: red;
  font-weight: bold;
}
