/* CAROUSEL */
#carousel-animals {
  margin-top: 150px;
}

#carousel-animals img {
  max-height: 650px;
  object-fit: cover;
}

.custom-carousel {
  max-width: 80%;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: var(--earth-brown);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
  border: 2px solid var(--olive-green);
}

.carousel-control-prev {
  left: -70px;
}

.carousel-control-next {
  right: -70px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
  width: 20px;
  height: 20px;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: var(--forest-green);
  transform: scale(1.1);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

/* H2 */
.title h2 {
  color: var(--white);
  border-radius: 5px;
  padding: 20px 200px;
  background-color: var(--olive-green);
  margin-top: 150px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

/* CIRCLE */
.rounded-circle {
  margin: 8% auto;
  width: 800px;
  height: 800px;
  background-color: var(--olive-green);
  color: var(--white);
  border: 3px solid var(--light-gray);
  border-radius: 50%;
  padding: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1.4;
  overflow: hidden;
  margin-bottom: 40px;
}

.rounded-circle p {
  color: var(--white);
  max-width: 85%;
  padding: 15px 10px;
  line-height: 1.6;
  overflow-y: auto;
  text-align: center;
  transition: transform 0.3s ease;
}

.rounded-circle p:hover {
  transform: scale(1.05);
}

/* CARDS */
#cards-animals .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 0 5%;
}

.card {
  background-color: var(--earth-beige);
  width: 70%;
  margin: 15%;
  border: 2% solid var(--black);
  border-radius: 1px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-bottom: 2% solid var(--black);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05); /* EFFET ZOOM LÉGÉ SUR LES CARDS */
  z-index: 1;
}

.card p {
  color: var(--olive-green);
  font-weight: bold;
}

.card-img-top {
  height: 500px;
  object-fit: cover;
  border-bottom: 2px solid var(--black);
}

.card .btn {
  background-color: var(--earth-brown);
  color: var(--white);
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-weight: bold;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-top: 10px;
  float: right;
}

.card .btn:hover {
  background-color: var(--forest-green);
  color: var(--olive-green);
}


/* RESPONSIVE */
@media (max-width: 768px) {
  #carousel-animals {
    margin-top: 30px;
  }

  #carousel-animals .carousel-control-prev,
  #carousel-animals .carousel-control-next {
    display: none;
  }
}

@media (max-width: 480px) {
  #carousel-animals {
    margin-top: 25px;
  }

  #carousel-animals .carousel-control-prev,
  #carousel-animals .carousel-control-next {
    display: none;
  }
}

@media (max-width: 768px) {
  .title h2 {
    padding: 20px 40px;
    margin: 60px 30px 15px;
  }
}

@media (max-width: 480px) {
  .title h2 {
    padding: 20px 30px;
    margin: 50px 20px 15px;
  }
}

@media (max-width: 768px) {
  .rounded-circle {
    width: 70vw;
    height: 70vw;
    padding: 0;
  }

  .rounded-circle p {
    font-size: 14px;
    max-height: 90%;
    height: 160px;
    padding: 10px;
  }

  .rounded-circle p::-webkit-scrollbar {
  width: 6px;
}

.rounded-circle p::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
}
}

@media (max-width: 480px) {
  .rounded-circle {
    width: 70vw;
    height: 70vw;
    padding: 0;
  }

  .rounded-circle p {
    font-size: 14px;
    padding: 10px;
  }

  .rounded-circle p::-webkit-scrollbar {
  width: 6px;
}

.rounded-circle p::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
}
}

@media (max-width: 768px) {
  #cards-animals .card {
    width: 100%;
    margin: 2px auto;
    margin-bottom: 30px;
  }

  .card .btn {
    padding: 8px 16px;
    width: auto; 
  }

  .card-img-top {
  height: 450px;
  object-fit: cover;
  object-position: top center;
  }
}

@media (max-width: 480px) {
  #cards-animals .card {
    width: 100%;
    margin: 2px auto;
    margin-bottom: 30px;
  }

  .card .btn {
    padding: 8px 16px;
    width: auto; 
  }

  .card-img-top {
  height: 450px;
  object-fit: cover;
  object-position: top center;
  }
}
