body {
  background-color: var(--earth-beige);
}

.admin-container {
  background-color: var(--earth-beige);
  padding: 20px;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

.admin-link-container {
  margin: 10px 0;
}

.admin-link {
  display: block;
  background-color: var(--earth-brown);
  color: var(--black);
  text-align: center;
  padding: 15px;
  border-radius: 8px;
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.admin-link:hover {
  background-color: var(--forest-green); 
  color: var(--black);
}

@media (min-width: 768px) {
  .admin-link-container {
    flex: 1 1 calc(25% - 20px);
    margin: 10px;
  }
}

@media (max-width: 767px) {
  .admin-link-container {
    flex: 1 1 calc(50% - 20px);
  }
}

button {
  background-color: var(--earth-brown);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

button:hover {
  background-color: var(--forest-green);
}

.stylee {
  margin-top: 30px;
}
