/* DASH ADMIN/VETERINAIRE ET EMPLOYÉ */

body {
  background-color: var(--earth-beige);
  font-family: var(--font-family-sans-serif);
}

.admin-container {
  padding: 20px 40px;
  min-height: 100vh;
}

.admin-dash .row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.admin-link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  flex: 1 1 calc(33.33% - 20px);
  max-width: 30%;
}

.admin-link {
  display: block;
  background-color: var(--earth-brown);
  color: var(--white) !important;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
  width: 100%;
  height: 100%;
  transition: background-color 0.3s ease;
}

.admin-link:hover {
  background-color: var(--forest-green);
}

button {
  background-color: var(--earth-brown);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.stylee {
  margin-top: 100px;
}

/* RESPONSIVE MOBILE */
@media (max-width: 1024px) {
  .admin-link-container {
    flex: 1 1 calc(50% - 20px);
    max-width: 45%;

    .admin-link {
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .admin-link-container {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .admin-dash .row {
    justify-content: center;
    margin: 0 auto;
  }

  .admin-link {
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .admin-link-container {
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .admin-dash .row {
    justify-content: center;
    margin: 0 auto;
}

.admin-link {
  width: 100%;
  max-width: 100%;
}
}

@media (min-width: 992px) {
  .admin-link-container {
    max-width: 30%;
  }
}