/* CSS GLOBAL DE L'APP */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  h1,
  h2,
  h3 {
    text-wrap: balance;
  }
}

:root {
  --olive-green: #78905f; /* main elements */

  --black: #000000; /* some paragraph */

  --forest-green: #2e7d32; /* hover */

  --earth-beige: #f5f5dc; /* background or neutral sections */

  --earth-brown: #795548; /* buttons */

  --light-gray: #e0e0e0; /* footer and light borders */

  --breakpoint-xs: 0;

  --breakpoint-sm: 576px;

  --breakpoint-md: 768px;

  --breakpoint-lg: 992px;

  --breakpoint-xl: 1200px;

  --font-family-sans-serif: "roboto", sans-serif;
}

body {
  font-family: var(--font-family-sans-serif);
  background-color: var(--earth-beige);
}

/* STYLE FOR DESKTOP /DEFAULT */
p {
  font-size: 18px;
}
h1 {
  font-size: 49.33px;
}
h2 {
  font-size: 40px;
}
h3 {
  font-size: 36px;
}

/* STYLE FOR MOBILE (max-width: 768px) */
@media (max-width: 768px) {
  p {
    font-size: 14px;
  }
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 18px;
  }
}

/* STYLE FOR TABLET (768px à 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  p {
    font-size: 15px;
  }
  h1 {
    font-size: 34px;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 20px;
  }
}
