/* STYLE DES FONCTIONNALITÉES "ADD" DU CODE */
body {
  background-color: var(--earth-beige);
}

form {
  background-color: var(--earth-beige);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  height: auto;
}

form div {
  margin-bottom: 15px;
}

label {
  color: var(--olive-green);
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--olive-green);
  border-radius: 5px;
  font-size: 18px;
  background-color: var(--white);
  color: var(--black);
  box-sizing: border-box;
}

button[type="submit"] {
  width: 100%;
  padding: 12px;
  background-color: var(--earth-brown);
  color: var(--black);
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: var(--forest-green);
}

p.success-message {
  color: var(--forest-green);
  text-align: center;
  font-weight: bold;
}

p.error-message {
  color: red;
  text-align: center;
  font-weight: bold;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center; 
  margin: 20px; 
}

.centered .btn-back {
  display: inline-block; 
  padding: 20px 40px; 
  margin: 20px;
  background-color: var(--earth-brown);
  color: var(--olive-green);
  font-weight: bold;
  text-decoration: none;
  border: 2px solid var(--earth-brown);
  border-radius: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-align: center;
}

.centered .btn-back:hover {
  background-color: var(--forest-green);
  color: var(--olive-green);
}

/*RESPONSIVE */
@media (max-width: 768px) {
  form {
    max-width: 90%;
    margin: 20px auto;
  }

  label {
    font-size: 16px;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  select {
    padding: 12px;
  }

  button[type="submit"] {
    padding: 14px;
  }

  .centered .btn-back {
    padding: 15px 30px;
  }
}

@media (max-width: 480px) {
  form {
    max-width: 90%;
    margin: 20px auto;
  }

  label {
    font-size: 14px;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  select {
    font-size: 14px;
    padding: 10px;
  }

  button[type="submit"] {
    font-size: 14px;
    padding: 12px;
  }

  .centered .btn-back {
    padding: 12px 25px;
  }
}
