/* STYLE DES FONCTIONNALITÉES "ADD" DU CODE */
body {
  background-color: var(--earth-beige);
}

form {
  background-color: var(--earth-beige);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  max-height: 400px;
  margin: 20px auto;
  font-family: "Roboto", sans-serif;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

form div {
  margin-bottom: 15px;
}

label {
  color: var(--olive-green);
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--olive-green);
  border-radius: 5px;
  font-size: 18px;
  background-color: #ffffff;
  color: var(--black);
  box-sizing: border-box;
}

button[type="submit"] {
  width: 100%;
  padding: 12px;
  background-color: var(--earth-brown);
  color: var(--black);
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: var(--forest-green);
}

p.success-message {
  color: var(--forest-green);
  text-align: center;
  font-weight: bold;
}

p.error-message {
  color: red;
  text-align: center;
  font-weight: bold;
}
