body {
  font-family: "Roboto", sans-serif;
  color: var(--noir-paragraphes);
  background-color: var(--earth-beige);
  border: var(--light-gray);
  margin: 0 20px;
}

h3 {
  color: var(--olive-green);
  font-weight: bold;
  margin: 20px 0;
  text-align: center;
}

.table-custom {
  border-collapse: collapse;
  width: 100%;
}

table {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  border-collapse: collapse;
  background-color: var(--beige-terreux);
  color: var(--noir-paragraphes);
  border: 2px solid var(--light-gray);
}

thead th {
  background-color: var(--olive-green);
  color: black;
  padding: 10px;
  border: 1px solid var(--light-gray);
  text-align: left;
  text-align: center;
}

tbody td {
  padding: 10px;
  border: 1px solid var(--light-gray);
}

/* Lien des actions */
td a {
  color: var(--earth-brown);
  text-decoration: none;
  font-weight: bold;
}

td a:hover {
  color: var(--forest-green);
}

/* Boutons */
button {
  background-color: var(--earth-brown);
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

button:hover {
  background-color: var(--forest-green);
}

.image-list {
  max-width: 50px;
  max-height: 50px;
}
