/* Formulaire de la connexion Utilisateurs */
.formus {
  margin-top: 50vh;
}
#background {
  display: flex;
  align-items: center; /*Aligen le form vers le haut du conteneur */
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
}

#form-ui {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); /* Ajustement pour un centrage */
}

#form {
  display: grid;
  place-items: center;
  width: 300px;
  height: 472px;
  padding: 25px;
  background-color: var(--earth-beige);
  box-shadow: 0px 15px 60px var(--forest-green);
  outline: 1px solid var(--olive-green);
  border-radius: 10px;
}

#form-body {
  width: 100%;
  margin: auto;
}

#welcome-lines {
  text-align: center;
  line-height: 1;
}

#welcome-line-1 {
  color: var(--olive-green);
  font-weight: 600;
  font-size: 40px;
}

#welcome-line-2 {
  color: var(--olive-green);
  font-size: 18px;
  margin-top: 17px;
}

#input-area {
  margin-top: 40px;
}

.form-inp {
  padding: 11px 25px;
  background: transparent;
  border: 1px solid var(--light-gray);
  line-height: 1;
  border-radius: 8px;
}

.form-inp:focus {
  border: 1px solid #00ff7f;
}

.form-inp:first-child {
  margin-bottom: 15px;
}

.form-inp input {
  width: 100%;
  background: none;
  font-size: 13.4px;
  color: var(--forest-green);
  border: none;
  padding: 0;
  margin: 0;
}

.form-inp input:focus {
  outline: none;
}

#submit-button-cvr {
  margin-top: 20px;
}

#submit-button {
  display: block;
  width: 100%;
  color: var(--olive-green);
  background-color: transparent;
  font-weight: 600;
  font-size: 14px;
  margin: 0;
  padding: 14px 13px 12px 13px;
  border: 0;
  outline: 1px solid var(--olive-green);
  border-radius: 8px;
  line-height: 1;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

#submit-button:hover {
  transition: all ease-in-out 0.3s;
  background-color: var(--forest-green);
  color: #161616;
  cursor: pointer;
}

#bar {
  position: absolute;
  left: 50%;
  bottom: -50px;
  width: 28px;
  height: 8px;
  margin-left: -33px;
  background-color: var(--olive-green);
  border-radius: 10px;
}

#bar:before,
#bar:after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: var(--olive-green);
  border-radius: 50%;
}

#bar:before {
  right: -20px;
}

#bar:after {
  right: -38px;
}
