/* HABITATS DESCRIPTION */
.container {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 30px;
  background-color: var(--earth-beige);
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 30px;
}

.row.align-items-center img {
  display: block;
  margin: 0 auto;
  max-width: 80%;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* CIRCLES */
.report-container {
  background-color: var(--earth-beige);
  border: 2px solid var(--earth-brown);
  border-radius: 50%;
  width: 450px;
  height: 450px;
  padding: 20px;
  margin: 20px auto;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.report-container:hover {
  transform: scale(1.05);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.report-container h4 {
  color: var(--olive-green);
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.report-container p {
  line-height: 1.6;
  color: var(--black);
  text-align: center;
  margin: 0;
  padding: 0 15px;
  word-wrap: break-word;
}

/* TITLE */
h3 {
  text-align: center;
  padding: 10px;
  margin: 30px auto;
  border: 2px solid var(--earth-brown);
  border-radius: 8px;
  background-color: var(--earth-beige);
  color: var(--olive-green);
  font-weight: bold;
}

/* CARDS ANIMALS */
.row.cards-animals {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.card {
  background-color: var(--earth-beige);
  flex: 1 1 calc(33% - 20px);
  max-width: 300px;
  height: 420px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

.card img {
  width: 100%;
  height: auto;
  aspect-ratio: 12 / 11; /* ratio harmonieux */
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.card-title {
  color: var(--olive-green);
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

.card-text {
  color: var(--olive-green);
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center;
}

.btn {
  background-color: var(--earth-brown);
  color: var(--olive-green);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover {
  background-color: var(--forest-green);
  color: var(--olive-green);
}

/* BOUTON DE RETOUR */
.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px auto;
}

.centered .btn-back {
  display: inline-block;
  padding: 20px 40px;
  margin: 20px;
  background-color: var(--earth-brown);
  color: var(--olive-green);
  font-weight: bold;
  text-decoration: none;
  border: 2px solid var(--earth-brown);
  border-radius: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.centered .btn-back:hover {
  background-color: var(--forest-green);
  color: var(--olive-green);
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .report-container {
    width: 320px;
    height: 350px;
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .report-container {
    width: 320px;
    height: 350px;
    padding: 20px;
  }

  .report-container p {
    font-size: 14px;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    max-width: 100%;
    max-height: 100%;
  }
}

